# System
.DS_Store
.vscode

# Folders
/node_modules/
/build
**/artifacts
/coverage

# Buidler files
cache
artifacts
coverage.json
compiler_config.json

#Environment Variables
.env
.env.*
contracts/.*
